:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Geist', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 15px 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 450 !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Geist Mono', sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn-copy-cell:hover {
  background-color: rgba(0, 0, 0, 0.05);

}
.total-macros-cell:hover {
  background-color: #f1ce07;
}

button {
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

button:disabled {
  opacity: 0.5 !important;
  cursor: not-allowed !important;
}

.MuiDataGrid-cell input {
  padding: 0 10px !important;
}

.MuiDataGrid-row--editing {
  box-shadow: none !important;
  background-color: rgba(25, 118, 210, 0.08) !important;
}

.MuiDataGrid-row--editing .MuiDataGrid-cell {
  background-color: unset !important;
}

.calculator-pane {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 350px;
  background-color: white;
  z-index: 20;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transform: translateX(-100%);
  -webkit-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
}

input {
  padding: 6px 10px !important;
  width: 100% !important;
}

.css-rizt0-MuiTypography-root, label {
  font-size: 15px !important;
}

.MuiDataGrid-toolbarQuickFilter {
  padding-inline: 10px !important;
}

.MuiRadioGroup-root .MuiButtonBase-root{
  padding: 5px !important;
}

.css-6m95b7 {
  all: unset;
}

.MuiRadioGroup-root .MuiTypography-root {
  font-size: 15px !important;
}

.fw-bold {
  font-weight: 700 !important;
}

button.Mui-selected {
  color: #1447E6 !important;
  border-bottom-color: #1447E6 !important;
}


span.Mui-checked {
  color: #1447E6 !important;
}

.MuiInputAdornment-root p {
  font-size: 12px !important;
}

.calculator-pane * {
  font-family: 'Geist Sans', sans-serif !important;
}

.confetti-wrapper.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.confetti-wrapper canvas {
  width: calc(100vw - 20px);
  z-index: 1000 !important;
}

.birthday__btn {
  background-color: oklch(54.1% 0.281 293.009);
  border: none;
  border-radius: 7px;
  font-size: 14px;
  color: white;
  font-weight: 700;
  font-family: "Permanent Marker" !important;
}

.banner {
  -webkit-transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
  font-size: 30px;
  z-index: 100;
  background: #fc00ff;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fc00ff, #00dbde);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fc00ff, #00dbde);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.banner p {
  font-family: "Permanent Marker" !important;
}

.banner.playing {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.banner.paused {
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
}